.main{
    display:none;
}

.active{
    display:block;
}

.btn_hide{
    display:none;
}

.form-check-label{
    font-size: smaller;
}

.bg-success-form{
 background-color:  rgb(82, 180, 75);
}

.form-container{
    max-height:400px;
}